@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reduce base font size by 2px (16px -> 14px) */
html {
  font-size: 14px;
}

/* Custom scrollbar override for electron */
body {
  overflow-y: overlay;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
